*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI',sans-serif;
}


body{

background:#f5f8fc;
color:#1e293b;

}


.dashboard{

display:flex;
height:100vh;

}


/* SIDEBAR */

.sidebar{

width:260px;
background:#073b4c;
padding:30px 20px;
color:white;

}


.brand{

display:flex;
align-items:center;
gap:12px;
font-size:22px;
margin-bottom:45px;

}


nav{

display:flex;
flex-direction:column;
gap:10px;

}


nav a{

padding:15px;
color:#d9f4f2;
text-decoration:none;
border-radius:12px;
cursor:pointer;

}


nav a:hover,
.active{

background:#10b981;
color:white;

}



.emergency{

margin-top:80px;
background:#0f5265;
padding:20px;
border-radius:15px;

}


.emergency strong{

font-size:30px;
color:#34d399;

}



/* MAIN */

main{

flex:1;
padding:35px;

}



header{

display:flex;
justify-content:space-between;
align-items:center;

}


header p{

color:#64748b;

}



.profile{

display:flex;
align-items:center;
gap:10px;

}


.profile img{

border-radius:50%;

}



/* STAT CARDS */


.stats{

margin-top:30px;
display:grid;
grid-template-columns:repeat(4,1fr);
gap:20px;

}



.stat{

background:white;
padding:22px;
border-radius:18px;
display:flex;
align-items:center;
gap:20px;
box-shadow:0 8px 25px rgba(0,0,0,.05);

}


.icon{

font-size:30px;
padding:15px;
border-radius:15px;

}


.blue{
background:#dbeafe;
}


.green{
background:#dcfce7;
}


.purple{
background:#ede9fe;
}


.orange{
background:#ffedd5;
}



.stat p{

color:#64748b;

}


.stat h2{

font-size:30px;

}



/* CONTENT */


.content{

margin-top:35px;
display:grid;
grid-template-columns:2fr 1fr;
gap:25px;

}



.panel{

background:white;
padding:25px;
border-radius:20px;
box-shadow:0 8px 25px rgba(0,0,0,.05);

}


table{

width:100%;
margin-top:20px;
border-collapse:collapse;

}


th,td{

padding:15px;
text-align:left;

}


th{

color:#64748b;

}


tr{

border-bottom:1px solid #eee;

}



.status{

padding:6px 12px;
border-radius:20px;
font-size:13px;

}


.recovered{

background:#dcfce7;
color:#15803d;

}


.treatment{

background:#fef3c7;
color:#b45309;

}



.visit{

padding:15px 0;
border-bottom:1px solid #eee;

}


.visit span{

color:#0f766e;

}
.footer{

background:#063970;
color:white;
text-align:center;
padding:25px;
margin-top:50px;

}


.hospital-logo{

font-size:35px;

}


.footer h3{

color:#4fd1c5;
margin:8px;

}


.footer p{

opacity:.8;

}


.footer small{

display:block;
margin-top:10px;

}