*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI',sans-serif;

}


body{

background:#f5f8fc;
color:#1e293b;

}



.dashboard{

display:flex;
height:100vh;

}




/* SIDEBAR */

.sidebar{

width:260px;
background:#073b4c;
color:white;
padding:30px 20px;

}



.brand{

display:flex;
align-items:center;
gap:10px;
font-size:22px;
margin-bottom:40px;

}



nav{

display:flex;
flex-direction:column;
gap:12px;

}



nav a{

padding:15px;
border-radius:12px;
text-decoration:none;
color:#d8f3f1;

}


nav a:hover,
.active{

background:#10b981;
color:white;

}



/* MAIN */


main{

flex:1;
padding:35px;
overflow:auto;

}



header{

display:flex;
justify-content:space-between;
align-items:center;

}


header p{

color:#64748b;

}



.admin{

display:flex;
align-items:center;
gap:12px;

}



.admin img{

border-radius:50%;

}




/* SETTINGS */


.settings-container{

margin-top:30px;
display:grid;
grid-template-columns:repeat(2,1fr);
gap:25px;

}



.card{

background:white;
padding:25px;
border-radius:20px;
box-shadow:0 8px 25px rgba(0,0,0,.05);

}



.card h2{

margin-bottom:20px;
font-size:20px;

}




.form{

display:flex;
flex-direction:column;
gap:10px;

}


label{

font-weight:600;
font-size:14px;

}



input,
textarea{

padding:13px;
border:1px solid #ddd;
border-radius:10px;
outline:none;

}



textarea{

height:80px;
resize:none;

}


input:focus,
textarea:focus{

border-color:#10b981;

}



/* TOGGLES */


.toggle{

display:flex;
justify-content:space-between;
align-items:center;
padding:15px 0;
border-bottom:1px solid #eee;

}



.switch input{

display:none;

}


.switch span{

display:block;
width:45px;
height:23px;
background:#ccc;
border-radius:20px;
position:relative;
cursor:pointer;

}


.switch span:before{

content:"";
position:absolute;
width:18px;
height:18px;
background:white;
border-radius:50%;
top:2.5px;
left:3px;
transition:.3s;

}



.switch input:checked + span{

background:#10b981;

}



.switch input:checked + span:before{

transform:translateX(20px);

}




/* SECURITY */


.security{

display:flex;
justify-content:space-between;
align-items:center;

}



.security button{

background:#10b981;
border:none;
padding:10px 20px;
color:white;
border-radius:10px;
cursor:pointer;

}


.warning{

margin-top:20px;
padding:15px;
background:#fff7ed;
color:#c2410c;
border-radius:10px;

}




.save{

grid-column:1/-1;
background:#073b4c;
color:white;
border:none;
padding:16px;
border-radius:15px;
font-size:17px;
cursor:pointer;

}


.save:hover{

background:#10b981;

}
.footer{

background:#063970;
color:white;
text-align:center;
padding:25px;
margin-top:50px;

}


.hospital-logo{

font-size:35px;

}


.footer h3{

color:#4fd1c5;
margin:8px;

}


.footer p{

opacity:.8;

}


.footer small{

display:block;
margin-top:10px;

}